openapi: 3.0.1
info:
  title: Spotify Web API
  version: 0.0.1
externalDocs:
  description: Find more info on the official Spotify Web API Reference
  url: https://developer.spotify.com/documentation/web-api/reference-beta
servers:
- url: https://api.spotify.com/v1
tags:
- name: category-albums
  description: Albums API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-albums
- name: category-artists
  description: Artists API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-artists
- name: category-browse
  description: Browse API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-browse
- name: category-episodes
  description: Episodes API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-episodes
- name: category-follow
  description: Follow API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-follow
- name: category-library
  description: Library API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-library
- name: category-personalization
  description: Personalization API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-personalization
- name: category-player
  description: Player API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-player
- name: category-playlists
  description: Playlists API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-playlists
- name: category-search
  description: Search API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-search
- name: category-shows
  description: Shows API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-shows
- name: category-tracks
  description: Tracks API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-tracks
- name: category-users-profile
  description: Users Profile API
  externalDocs:
    description: Find more info on the official Spotify Web API Reference
    url: https://developer.spotify.com/documentation/web-api/reference-beta/#category-users-profile
paths:
  /albums/{id}:
    get:
      tags:
      - category-albums
      summary: Get an Album
      description: Get Spotify catalog information for a single album.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-an-album
      operationId: endpoint-get-an-album
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The Spotify ID of the album.
        required: true
        schema:
          type: string
      - name: market
        in: query
        description: The market you’d like to request. Synonym for country.
        required: false
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an album object in JSON format.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumObject'
      security:
      - spotify_auth: []
  /albums/{id}/tracks:
    get:
      tags:
      - category-albums
      summary: Get an Album's Tracks
      description: Get Spotify catalog information about an album’s tracks. Optional
        parameters can be used to limit the number of tracks returned.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-an-albums-tracks
      operationId: endpoint-get-an-albums-tracks
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The Spotify ID of the album.
        required: true
        schema:
          type: string
      - name: market
        in: query
        description: An ISO 3166-1 alpha-2 country code or the string from_token.
          Provide this parameter if you want to apply Track Relinking.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of tracks to return. Default: 20. Minimum:\
          \ 1. Maximum: 50."
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: "The index of the first track to return. Default: 0 (the first\
          \ object). Use with limit to get the next set of tracks."
        required: false
        schema:
          type: integer
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an album object in JSON format.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                type: object
                properties:
                  href:
                    type: string
                    description: A link to the Web API endpoint returning the full
                      result of the request
                  items:
                    type: array
                    description: The requested data.
                    items:
                      $ref: '#/components/schemas/TrackObject'
                  limit:
                    type: integer
                    description: The maximum number of items in the response (as set
                      in the query or by default).
                    format: int32
                  next:
                    type: string
                    description: URL to the next page of items. ( null if none)
                  offset:
                    type: integer
                    description: The offset of the items returned (as set in the query
                      or by default)
                    format: int32
                  previous:
                    type: string
                    description: URL to the previous page of items. ( null if none)
                  total:
                    type: integer
                    description: The total number of items available to return.
                    format: int32
                externalDocs:
                  description: Find more info on the official Spotify Web API Reference
                  url: https://developer.spotify.com/documentation/web-api/reference-beta/#object-pagingobject
      security:
      - spotify_auth: []
  /albums:
    get:
      tags:
      - category-albums
      summary: Get Multiple Albums
      description: Get Spotify catalog information for multiple albums identified
        by their Spotify IDs.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-multiple-albums
      operationId: endpoint-get-multiple-albums
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the Spotify IDs for the albums. Maximum:\
          \ 20 IDs."
        required: true
        schema:
          type: string
      - name: market
        in: query
        description: An ISO 3166-1 alpha-2 country code or the string from_token.
          Provide this parameter if you want to apply Track Relinking.
        required: false
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an object whose key is \"albums\"\
            \ and whose value is an array of album objects in JSON format. Objects\
            \ are returned in the order requested. If an object is not found, a null\
            \ value is returned in the appropriate position. Duplicate ids in the\
            \ query will result in duplicate objects in the response. On error, the\
            \ header status code is an error code and the response body contains an\
            \ error object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsObject'
      security:
      - spotify_auth: []
  /artists/{id}:
    get:
      tags:
      - category-artists
      summary: Get an Artist
      description: Get Spotify catalog information for a single artist identified
        by their unique Spotify ID.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-an-artist
      operationId: endpoint-get-an-artist
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The Spotify ID of the artist.
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an artist object in JSON format.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistObject'
      security:
      - spotify_auth: []
  /artists/{id}/albums:
    get:
      tags:
      - category-artists
      summary: Get an Artist's Albums
      description: Get Spotify catalog information about an artist’s albums.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-an-artists-albums
      operationId: endpoint-get-an-artists-albums
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The Spotify ID for the artist.
        required: true
        schema:
          type: string
      - name: include_groups
        in: query
        description: "A comma-separated list of keywords that will be used to filter\
          \ the response. If not supplied, all album types will be returned. Valid\
          \ values are: - album - single - appears_on - compilation For example: include_groups=album,single."
        required: false
        schema:
          type: string
      - name: market
        in: query
        description: "Synonym for country. An ISO 3166-1 alpha-2 country code or the\
          \ string from_token. Supply this parameter to limit the response to one\
          \ particular geographical market. For example, for albums available in Sweden:\
          \ market=SE. If not given, results will be returned for all markets and\
          \ you are likely to get duplicate results per album, one for each market\
          \ in which the album is available!"
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: "The number of album objects to return. Default: 20. Minimum:\
          \ 1. Maximum: 50. For example: limit=2"
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: "The index of the first album to return. Default: 0 (i.e., the\
          \ first album). Use with limit to get the next set of albums."
        required: false
        schema:
          type: integer
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an array of simplified album objects\
            \ (wrapped in a paging object) in JSON format. On error, the header status\
            \ code is an error code and the response body contains an error object."
          content:
            application/json:
              schema:
                type: object
                properties:
                  href:
                    type: string
                    description: A link to the Web API endpoint returning the full
                      result of the request
                  items:
                    type: array
                    description: The requested data.
                    items:
                      $ref: '#/components/schemas/SimplifiedAlbumObject'
                  limit:
                    type: integer
                    description: The maximum number of items in the response (as set
                      in the query or by default).
                    format: int32
                  next:
                    type: string
                    description: URL to the next page of items. ( null if none)
                  offset:
                    type: integer
                    description: The offset of the items returned (as set in the query
                      or by default)
                    format: int32
                  previous:
                    type: string
                    description: URL to the previous page of items. ( null if none)
                  total:
                    type: integer
                    description: The total number of items available to return.
                    format: int32
                externalDocs:
                  description: Find more info on the official Spotify Web API Reference
                  url: https://developer.spotify.com/documentation/web-api/reference-beta/#object-pagingobject
      security:
      - spotify_auth: []
  /artists/{id}/related-artists:
    get:
      tags:
      - category-artists
      summary: Get an Artist's Related Artists
      description: Get Spotify catalog information about artists similar to a given
        artist. Similarity is based on analysis of the Spotify community’s listening
        history.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-an-artists-related-artists
      operationId: endpoint-get-an-artists-related-artists
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The Spotify ID for the artist
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an object whose key is \"artists\"\
            \ and whose value is an array of up to 20 artist objects in JSON format.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistsObject'
      security:
      - spotify_auth: []
  /artists/{id}/top-tracks:
    get:
      tags:
      - category-artists
      summary: Get an Artist's Top Tracks
      description: Get Spotify catalog information about an artist’s top tracks by
        country.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-an-artists-top-tracks
      operationId: endpoint-get-an-artists-top-tracks
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The Spotify ID for the artist
        required: true
        schema:
          type: string
      - name: market
        in: query
        description: An ISO 3166-1 alpha-2 country code or the string from_token.
          Synonym for country.
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an object whose key is \"tracks\"\
            \ and whose value is an array of up to 10 track objects in JSON format.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksObject'
      security:
      - spotify_auth: []
  /artists:
    get:
      tags:
      - category-artists
      summary: Get Multiple Artists
      description: Get Spotify catalog information for several artists based on their
        Spotify IDs.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-multiple-artists
      operationId: endpoint-get-multiple-artists
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the Spotify IDs for the artists. Maximum:\
          \ 50 IDs."
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an object whose key is \"artists\"\
            \ and whose value is an array of artist objects in JSON format. Objects\
            \ are returned in the order requested. If an object is not found, a null\
            \ value is returned in the appropriate position. Duplicate ids in the\
            \ query will result in duplicate objects in the response. On error, the\
            \ header status code is an error code and the response body contains an\
            \ error object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistsObject'
      security:
      - spotify_auth: []
  /browse/categories/{category_id}/playlists:
    get:
      tags:
      - category-browse
      summary: Get a Category's Playlists
      description: Get a list of Spotify playlists tagged with a particular category.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-a-categories-playlists
      operationId: endpoint-get-a-categories-playlists
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: category_id
        in: path
        description: The Spotify category ID for the category.
        required: true
        schema:
          type: string
      - name: country
        in: query
        description: "A country: an ISO 3166-1 alpha-2 country code. Provide this\
          \ parameter to ensure that the category exists for a particular country."
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of items to return. Default: 20. Minimum:\
          \ 1. Maximum: 50."
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: "The index of the first item to return. Default: 0 (the first\
          \ object). Use with limit to get the next set of items."
        required: false
        schema:
          type: integer
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an array of simplified playlist\
            \ objects (wrapped in a paging object) in JSON format. On error, the header\
            \ status code is an error code and the response body contains an error\
            \ object. Once you have retrieved the list, you can use Get a Playlist\
            \ and Get a Playlist’s Tracks to drill down further."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistPagingObject'
      security:
      - spotify_auth: []
  /browse/categories/{category_id}:
    get:
      tags:
      - category-browse
      summary: Get a Category
      description: "Get a single category used to tag items in Spotify (on, for example,\
        \ the Spotify player’s “Browse” tab)."
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-a-category
      operationId: endpoint-get-a-category
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: category_id
        in: path
        description: The Spotify category ID for the category.
        required: true
        schema:
          type: string
      - name: country
        in: query
        description: "A country: an ISO 3166-1 alpha-2 country code. Provide this\
          \ parameter to ensure that the category exists for a particular country."
        required: false
        schema:
          type: string
      - name: locale
        in: query
        description: "The desired language, consisting of an ISO 639-1 language code\
          \ and an ISO 3166-1 alpha-2 country code, joined by an underscore. For example:\
          \ es_MX, meaning \"Spanish (Mexico)\". Provide this parameter if you want\
          \ the category strings returned in a particular language. Note that, if\
          \ locale is not supplied, or if the specified language is not available,\
          \ the category strings returned will be in the Spotify default language\
          \ (American English)."
        required: false
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a category object in JSON format.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object. Once you have retrieved the category, you\
            \ can use Get a Category’s Playlists to drill down further."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryObject'
      security:
      - spotify_auth: []
  /browse/categories:
    get:
      tags:
      - category-browse
      summary: Get All Categories
      description: "Get a list of categories used to tag items in Spotify (on, for\
        \ example, the Spotify player’s “Browse” tab)."
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-categories
      operationId: endpoint-get-categories
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: country
        in: query
        description: "A country: an ISO 3166-1 alpha-2 country code. Provide this\
          \ parameter if you want to narrow the list of returned categories to those\
          \ relevant to a particular country. If omitted, the returned items will\
          \ be globally relevant."
        required: false
        schema:
          type: string
      - name: locale
        in: query
        description: "The desired language, consisting of an ISO 639-1 language code\
          \ and an ISO 3166-1 alpha-2 country code, joined by an underscore. For example:\
          \ es_MX, meaning “Spanish (Mexico)”. Provide this parameter if you want\
          \ the category metadata returned in a particular language. Note that, if\
          \ locale is not supplied, or if the specified language is not available,\
          \ all strings will be returned in the Spotify default language (American\
          \ English). The locale parameter, combined with the country parameter, may\
          \ give odd results if not carefully matched. For example country=SE&locale=de_DE\
          \ will return a list of categories relevant to Sweden but as German language\
          \ strings."
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of categories to return. Default: 20. Minimum:\
          \ 1. Maximum: 50."
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: "The index of the first item to return. Default: 0 (the first\
          \ object). Use with limit to get the next set of categories."
        required: false
        schema:
          type: integer
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an object with a categories field,\
            \ with an array of category objects (wrapped in a paging object) in JSON\
            \ format. On error, the header status code is an error code and the response\
            \ body contains an error object. Once you have retrieved the list, you\
            \ can use Get a Category to drill down further."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesObject'
      security:
      - spotify_auth: []
  /browse/featured-playlists:
    get:
      tags:
      - category-browse
      summary: Get All Featured Playlists
      description: "Get a list of Spotify featured playlists (shown, for example,\
        \ on a Spotify player’s ‘Browse’ tab)."
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-featured-playlists
      operationId: endpoint-get-featured-playlists
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: country
        in: query
        description: "A country: an ISO 3166-1 alpha-2 country code. Provide this\
          \ parameter if you want the list of returned items to be relevant to a particular\
          \ country. If omitted, the returned items will be relevant to all countries."
        required: false
        schema:
          type: string
      - name: locale
        in: query
        description: "The desired language, consisting of a lowercase ISO 639-1 language\
          \ code and an uppercase ISO 3166-1 alpha-2 country code, joined by an underscore.\
          \ For example: es_MX, meaning “Spanish (Mexico)”. Provide this parameter\
          \ if you want the results returned in a particular language (where available).\
          \ Note that, if locale is not supplied, or if the specified language is\
          \ not available, all strings will be returned in the Spotify default language\
          \ (American English). The locale parameter, combined with the country parameter,\
          \ may give odd results if not carefully matched. For example country=SE&locale=de_DE\
          \ will return a list of categories relevant to Sweden but as German language\
          \ strings."
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: "A timestamp in ISO 8601 format: yyyy-MM-ddTHH:mm:ss. Use this\
          \ parameter to specify the user’s local time to get results tailored for\
          \ that specific date and time in the day. If not provided, the response\
          \ defaults to the current UTC time. Example: “2014-10-23T09:00:00” for a\
          \ user whose local time is 9AM. If there were no featured playlists (or\
          \ there is no data) at the specified time, the response will revert to the\
          \ current UTC time."
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of items to return. Default: 20. Minimum:\
          \ 1. Maximum: 50."
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: "The index of the first item to return. Default: 0 (the first\
          \ object). Use with limit to get the next set of items."
        required: false
        schema:
          type: integer
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a message and a playlists object.\
            \ The playlists object contains an array of simplified playlist objects\
            \ (wrapped in a paging object) in JSON format. On error, the header status\
            \ code is an error code and the response body contains an error object.\
            \ Once you have retrieved the list of playlist objects, you can use Get\
            \ a Playlist and Get a Playlist’s Tracks to drill down further."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturedPlaylistObject'
      security:
      - spotify_auth: []
  /browse/new-releases:
    get:
      tags:
      - category-browse
      summary: Get All New Releases
      description: "Get a list of new album releases featured in Spotify (shown, for\
        \ example, on a Spotify player’s “Browse” tab)."
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-new-releases
      operationId: endpoint-get-new-releases
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: country
        in: query
        description: "A country: an ISO 3166-1 alpha-2 country code. Provide this\
          \ parameter if you want the list of returned items to be relevant to a particular\
          \ country. If omitted, the returned items will be relevant to all countries."
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of items to return. Default: 20. Minimum:\
          \ 1. Maximum: 50."
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: "The index of the first item to return. Default: 0 (the first\
          \ object). Use with limit to get the next set of items."
        required: false
        schema:
          type: integer
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a message and analbums object.\
            \ The albums object contains an array of simplified album objects (wrapped\
            \ in a paging object) in JSON format. On error, the header status code\
            \ is an error code and the response body contains an error object. Once\
            \ you have retrieved the list, you can use Get an Album’s Tracks to drill\
            \ down further. The results are returned in an order reflected within\
            \ the Spotify clients, and therefore may not be ordered by date."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewReleasesObject'
      security:
      - spotify_auth: []
  /recommendations/available-genre-seeds:
    get:
      tags:
      - category-browse
      summary: Get Recommendation Genres
      description: Retrieve a list of available genres seed parameter values for recommendations.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-recommendation-genres
      operationId: endpoint-get-recommendation-genres
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a recommendations response object\
            \ in JSON format."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreSeedsObject'
      security:
      - spotify_auth: []
  /recommendations:
    get:
      tags:
      - category-browse
      summary: Get Recommendations
      description: "Recommendations are generated based on the available information\
        \ for a given seed entity and matched against similar artists and tracks.\
        \ If there is sufficient information about the provided seeds, a list of tracks\
        \ will be returned together with pool size details."
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-recommendations
      operationId: endpoint-get-recommendations
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: "The target size of the list of recommended tracks. For seeds\
          \ with unusually small pools or when highly restrictive filtering is applied,\
          \ it may be impossible to generate the requested number of recommended tracks.\
          \ Debugging information for such cases is available in the response. Default:\
          \ 20. Minimum: 1. Maximum: 100."
        required: false
        schema:
          type: integer
          format: int32
      - name: market
        in: query
        description: "An ISO 3166-1 alpha-2 country code or the string from_token.\
          \ Provide this parameter if you want to apply Track Relinking. Because min_*,\
          \ max_* and target_* are applied to pools before relinking, the generated\
          \ results may not precisely match the filters applied. Original, non-relinked\
          \ tracks are available via the linked_from attribute of the relinked track\
          \ response."
        required: false
        schema:
          type: string
      - name: seed_artists
        in: query
        description: "A comma separated list of Spotify IDs for seed artists. Up to\
          \ 5 seed values may be provided in any combination of seed_artists, seed_tracks\
          \ and seed_genres."
        required: true
        schema:
          type: string
      - name: seed_genres
        in: query
        description: "A comma separated list of any genres in the set of available\
          \ genre seeds. Up to 5 seed values may be provided in any combination of\
          \ seed_artists, seed_tracks and seed_genres."
        required: true
        schema:
          type: string
      - name: seed_tracks
        in: query
        description: "A comma separated list of Spotify IDs for a seed track. Up to\
          \ 5 seed values may be provided in any combination of seed_artists, seed_tracks\
          \ and seed_genres."
        required: true
        schema:
          type: string
      - name: min_acousticness
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: number
      - name: max_acousticness
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: number
      - name: target_acousticness
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: number
      - name: min_danceability
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: number
      - name: max_danceability
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: number
      - name: target_danceability
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: number
      - name: min_duration_ms
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: integer
          format: int32
      - name: max_duration_ms
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: integer
          format: int32
      - name: target_duration_ms
        in: query
        description: Target duration of the track (ms)
        required: false
        schema:
          type: integer
          format: int32
      - name: min_energy
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: number
      - name: max_energy
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: number
      - name: target_energy
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: number
      - name: min_instrumentalness
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: number
      - name: max_instrumentalness
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: number
      - name: target_instrumentalness
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: number
      - name: min_key
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: integer
          format: int32
      - name: max_key
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: integer
          format: int32
      - name: target_key
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: integer
          format: int32
      - name: min_liveness
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: number
      - name: max_liveness
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: number
      - name: target_liveness
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: number
      - name: min_loudness
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: number
      - name: max_loudness
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: number
      - name: target_loudness
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: number
      - name: min_mode
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: integer
          format: int32
      - name: max_mode
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: integer
          format: int32
      - name: target_mode
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: integer
          format: int32
      - name: min_popularity
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: integer
          format: int32
      - name: max_popularity
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: integer
          format: int32
      - name: target_popularity
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: integer
          format: int32
      - name: min_speechiness
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: number
      - name: max_speechiness
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: number
      - name: target_speechiness
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: number
      - name: min_tempo
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: number
      - name: max_tempo
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: number
      - name: target_tempo
        in: query
        description: Target tempo (BPM)
        required: false
        schema:
          type: number
      - name: min_time_signature
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: integer
          format: int32
      - name: max_time_signature
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: integer
          format: int32
      - name: target_time_signature
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: integer
          format: int32
      - name: min_valence
        in: query
        description: "For each tunable track attribute, a hard floor on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, min_tempo=140 would\
          \ restrict results to only those tracks with a tempo of greater than 140\
          \ beats per minute."
        required: false
        schema:
          type: number
      - name: max_valence
        in: query
        description: "For each tunable track attribute, a hard ceiling on the selected\
          \ track attribute’s value can be provided. See tunable track attributes\
          \ below for the list of available options. For example, max_instrumentalness=0.35\
          \ would filter out most tracks that are likely to be instrumental."
        required: false
        schema:
          type: number
      - name: target_valence
        in: query
        description: "For each of the tunable track attributes (below) a target value\
          \ may be provided. Tracks with the attribute values nearest to the target\
          \ values will be preferred. For example, you might request target_energy=0.6\
          \ and target_danceability=0.8. All target values will be weighed equally\
          \ in ranking results."
        required: false
        schema:
          type: number
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a recommendations response object\
            \ in JSON format."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationsResponseObject'
      security:
      - spotify_auth: []
  /episodes/{id}:
    get:
      tags:
      - category-episodes
      summary: Get an Episode
      description: Get Spotify catalog information for a single episode identified
        by its unique Spotify ID.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-an-episode
      operationId: endpoint-get-an-episode
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details."
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The Spotify ID for the episode.
        required: true
        schema:
          type: string
      - name: market
        in: query
        description: "An ISO 3166-1 alpha-2 country code. If a country code is specified,\
          \ only shows and episodes that are available in that market will be returned.\
          \ If a valid user access token is specified in the request header, the country\
          \ associated with the user account will take priority over this parameter.\
          \ Note: If neither market or user country are provided, the content is considered\
          \ unavailable for the client. Users can view the country that is associated\
          \ with their account in the account settings."
        required: false
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an episode object in JSON format.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object. If an episode is unavailable in the given\
            \ market the HTTP status code in the response header is 404 NOT FOUND."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeObject'
      security:
      - spotify_auth: []
  /episodes:
    get:
      tags:
      - category-episodes
      summary: Get Multiple Episodes
      description: Get Spotify catalog information for several episodes based on their
        Spotify IDs.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-multiple-episodes
      operationId: endpoint-get-multiple-episodes
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details."
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the Spotify IDs for the episodes.\
          \ Maximum: 50 IDs."
        required: true
        schema:
          type: string
      - name: market
        in: query
        description: "An ISO 3166-1 alpha-2 country code. If a country code is specified,\
          \ only shows and episodes that are available in that market will be returned.\
          \ If a valid user access token is specified in the request header, the country\
          \ associated with the user account will take priority over this parameter.\
          \ Note: If neither market or user country are provided, the content is considered\
          \ unavailable for the client. Users can view the country that is associated\
          \ with their account in the account settings."
        required: false
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an object whose key is episodes\
            \ and whose value is an array of episode objects in JSON format. Objects\
            \ are returned in the order requested. If an object is not found, a null\
            \ value is returned in the appropriate position. Duplicate ids in the\
            \ query will result in duplicate objects in the response. If an episode\
            \ is unavailable in the given market, a null value is returned. On error,\
            \ the header status code is an error code and the response body contains\
            \ an error object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodesObject'
      security:
      - spotify_auth: []
  /me/following/contains:
    get:
      tags:
      - category-follow
      summary: Get Following State for Artists/Users
      description: Check to see if the current user is following one or more artists
        or other Spotify users.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-check-current-user-follows
      operationId: endpoint-check-current-user-follows
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials. Requires
          the user-follow-read scope.
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: "The ID type: either artist or user."
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the artist or the user Spotify IDs\
          \ to check. For example: ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q.\
          \ A maximum of 50 IDs can be sent in one request."
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a JSON array of true or false\
            \ values, in the same order in which the ids were specified. On error,\
            \ the header status code is an error code and the response body contains\
            \ an error object."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - spotify_auth:
        - user-follow-read
  /playlists/{playlist_id}/followers/contains:
    get:
      tags:
      - category-follow
      summary: Check if Users Follow a Playlist
      description: Check to see if one or more Spotify users are following a specified
        playlist.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-check-if-user-follows-playlist
      operationId: endpoint-check-if-user-follows-playlist
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials. Requires
          the playlist-read-private scope if a private playlist is requested.
        required: true
        schema:
          type: string
      - name: playlist_id
        in: path
        description: The Spotify ID of the playlist.
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of Spotify User IDs ; the ids of the\
          \ users that you want to check to see if they follow the playlist. Maximum:\
          \ 5 ids."
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a JSON array of true or false\
            \ values, in the same order in which the ids were specified. On error,\
            \ the header status code is an error code and the response body contains\
            \ an error object."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - spotify_auth:
        - playlist-read-private
  /me/following:
    get:
      tags:
      - category-follow
      summary: Get User's Followed Artists
      description: Get the current user’s followed artists.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-followed
      operationId: endpoint-get-followed
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials. Requires
          the user-follow-modify scope.
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: "The ID type: currently only artist is supported."
        required: true
        schema:
          type: string
      - name: after
        in: query
        description: The last artist ID retrieved from the previous request.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of items to return. Default: 20. Minimum:\
          \ 1. Maximum: 50."
        required: false
        schema:
          type: integer
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an artists object. The artists\
            \ object in turn contains a cursor-based paging object of Artists. On\
            \ error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowingArtistsObject'
      security:
      - spotify_auth:
        - user-follow-modify
    put:
      tags:
      - category-follow
      summary: Follow Artists or Users
      description: Add the current user as a follower of one or more artists or other
        Spotify users.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-follow-artists-users
      operationId: endpoint-follow-artists-users
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials. Requires
          the user-follow-modify scope.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "Required if IDs are passed in the request body, otherwise ignored.\
          \ The content type of the request body: application/json"
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: "The ID type: either artist or user."
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the artist or the user Spotify IDs.\
          \ For example: ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q. A maximum\
          \ of 50 IDs can be sent in one request."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - ids
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the artist or user Spotify IDs. For\
                    \ example: {ids:[\"74ASZWbe4lXaubB36ztrGX\", \"08td7MxkoHQkXnWAYD8d6Q\"\
                    ]}. A maximum of 50 IDs can be sent in one request. Note: if the\
                    \ ids parameter is present in the query string, any IDs listed\
                    \ here in the body will be ignored."
                  items:
                    type: string
        required: true
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "204":
          description: "On success, the HTTP status code in the response header is\
            \ 204 No Content and the response body is empty. On error, the header\
            \ status code is an error code and the response body contains an error\
            \ object."
      security:
      - spotify_auth:
        - user-follow-modify
    delete:
      tags:
      - category-follow
      summary: Unfollow Artists or Users
      description: Remove the current user as a follower of one or more artists or
        other Spotify users.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-unfollow-artists-users
      operationId: endpoint-unfollow-artists-users
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials. Requires
          the user-follow-modify scope.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "Required if IDs are passed in the request body, otherwise ignored.\
          \ The content type of the request body: application/json."
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: "The ID type: either artist or user."
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the artist or the user Spotify IDs.\
          \ For example: ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q. A maximum\
          \ of 50 IDs can be sent in one request."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the artist or user Spotify IDs. For\
                    \ example: {ids:[\"74ASZWbe4lXaubB36ztrGX\", \"08td7MxkoHQkXnWAYD8d6Q\"\
                    ]}. A maximum of 50 IDs can be sent in one request. Note: if the\
                    \ ids parameter is present in the query string, any IDs listed\
                    \ here in the body will be ignored."
                  items:
                    type: string
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "204":
          description: "On success, the HTTP status code in the response header is\
            \ 204 No Content and the response body is empty. On error, the header\
            \ status code is an error code and the response body contains an error\
            \ object."
      security:
      - spotify_auth:
        - user-follow-modify
  /playlists/{playlist_id}/followers:
    put:
      tags:
      - category-follow
      summary: Follow a Playlist
      description: Add the current user as a follower of a playlist.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-follow-playlist
      operationId: endpoint-follow-playlist
      parameters:
      - name: Authorization
        in: header
        description: A valid user access token or your client credentials. Requires
          the user-follow-modify scope.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The content type of the request body: application/json"
        required: true
        schema:
          type: string
      - name: playlist_id
        in: path
        description: "The Spotify ID of the playlist. Any playlist can be followed,\
          \ regardless of its public/private status, as long as you know its playlist\
          \ ID."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                public:
                  type: boolean
                  description: "Defaults to true. If true the playlist will be included\
                    \ in user’s public playlists, if false it will remain private.\
                    \ To be able to follow playlists privately, the user must have\
                    \ granted the playlist-modify-private scope."
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body is empty. On error, the header status code\
            \ is an error code and the response body contains an error object."
      security:
      - spotify_auth:
        - user-follow-modify
    delete:
      tags:
      - category-follow
      summary: Unfollow Playlist
      description: Remove the current user as a follower of a playlist.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-unfollow-playlist
      operationId: endpoint-unfollow-playlist
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details. The access token must have\
          \ been issued on behalf of the user. Unfollowing a publicly followed playlist\
          \ for a user requires authorization of the playlist-modify-public scope;\
          \ unfollowing a privately followed playlist requires the playlist-modify-private\
          \ scope. See Using Scopes. Note that the scopes you provide relate only\
          \ to whether the current user is following the playlist publicly or privately\
          \ (i.e. showing others what they are following), not whether the playlist\
          \ itself is public or private."
        required: true
        schema:
          type: string
      - name: playlist_id
        in: path
        description: The Spotify ID of the playlist that is to be no longer followed.
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body is empty. On error, the header status code\
            \ is an error code and the response body contains an error object."
      security:
      - spotify_auth:
        - playlist-modify-public
        - playlist-modify-private
  /me/albums/contains:
    get:
      tags:
      - category-library
      summary: Check User's Saved Albums
      description: Check if one or more albums is already saved in the current Spotify
        user’s ‘Your Music’ library.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-check-users-saved-albums
      operationId: endpoint-check-users-saved-albums
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details. The user-library-read scope\
          \ must have been authorized by the user."
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the Spotify IDs for the albums. Maximum:\
          \ 50 IDs."
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a JSON array of true or false\
            \ values, in the same order in which the ids were specified. On error,\
            \ the header status code is an error code and the response body contains\
            \ an error object."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - spotify_auth:
        - user-library-read
  /me/shows/contains:
    get:
      tags:
      - category-library
      summary: Check User's Saved Shows
      description: Check if one or more shows is already saved in the current Spotify
        user’s library.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-check-users-saved-shows
      operationId: endpoint-check-users-saved-shows
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details. The access token must have\
          \ been isued on behalf of the user. The user-libary-read scope must have\
          \ been authorised by the user."
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the Spotify IDs for the shows. Maximum:\
          \ 50 ids."
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a JSON array of trueor false values,\
            \ in the same order in which the ids were specified. On error, the header\
            \ status code is an error code and the response body contains an error\
            \ object."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - spotify_auth:
        - user-library-read
  /me/tracks/contains:
    get:
      tags:
      - category-library
      summary: Check User's Saved Tracks
      description: Check if one or more tracks is already saved in the current Spotify
        user’s ‘Your Music’ library.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-check-users-saved-tracks
      operationId: endpoint-check-users-saved-tracks
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details. The user-library-read scope\
          \ must have been authorized by the user."
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the Spotify IDs for the tracks. Maximum:\
          \ 50 IDs."
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains a JSON array of true or false\
            \ values, in the same order in which the ids were specified. On error,\
            \ the header status code is an error code and the response body contains\
            \ an error object."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - spotify_auth:
        - user-library-read
  /me/albums:
    get:
      tags:
      - category-library
      summary: Get User's Saved Albums
      description: Get a list of the albums saved in the current Spotify user’s ‘Your
        Music’ library.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-users-saved-albums
      operationId: endpoint-get-users-saved-albums
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details. The user-library-read scope\
          \ must have been authorized by the user."
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of objects to return. Default: 20. Minimum:\
          \ 1. Maximum: 50."
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: "The index of the first object to return. Default: 0 (i.e., the\
          \ first object). Use with limit to get the next set of objects."
        required: false
        schema:
          type: integer
          format: int32
      - name: market
        in: query
        description: An ISO 3166-1 alpha-2 country code or the string from_token.
          Provide this parameter if you want to apply Track Relinking.
        required: false
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an array of saved album objects\
            \ (wrapped in a paging object) in JSON format. Each album object is accompanied\
            \ by a timestamp (added_at) to show when it was added. There is also an\
            \ etag in the header that can be used in future conditional requests.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                type: object
                properties:
                  href:
                    type: string
                    description: A link to the Web API endpoint returning the full
                      result of the request
                  items:
                    type: array
                    description: The requested data.
                    items:
                      $ref: '#/components/schemas/SavedAlbumObject'
                  limit:
                    type: integer
                    description: The maximum number of items in the response (as set
                      in the query or by default).
                    format: int32
                  next:
                    type: string
                    description: URL to the next page of items. ( null if none)
                  offset:
                    type: integer
                    description: The offset of the items returned (as set in the query
                      or by default)
                    format: int32
                  previous:
                    type: string
                    description: URL to the previous page of items. ( null if none)
                  total:
                    type: integer
                    description: The total number of items available to return.
                    format: int32
                externalDocs:
                  description: Find more info on the official Spotify Web API Reference
                  url: https://developer.spotify.com/documentation/web-api/reference-beta/#object-pagingobject
      security:
      - spotify_auth:
        - user-library-read
    put:
      tags:
      - category-library
      summary: Save Albums for Current User
      description: Save one or more albums to the current user’s ‘Your Music’ library.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-save-albums-user
      operationId: endpoint-save-albums-user
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details. Modification of the current\
          \ user’s “Your Music” collection requires authorization of the user-library-modify\
          \ scope."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "Required if the IDs are passed in the request body, otherwise\
          \ ignored. The content type of the request body: application/json"
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the Spotify IDs. For example: ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M.\
          \ Maximum: 50 IDs."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the Spotify IDs. For example: [\"\
                    4iV5W9uYEdYUVa79Axb7Rh\", \"1301WleyT98MSxVHPZCA6M\"] A maximum\
                    \ of 50 items can be specified in one request. Note: if the ids\
                    \ parameter is present in the query string, any IDs listed here\
                    \ in the body will be ignored."
                  items:
                    type: string
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "201":
          description: "On success, the HTTP status code in the response header is\
            \ 201 Created. On error, the header status code is an error code and the\
            \ response body contains an error object. Trying to add an album when\
            \ you do not have the user’s authorization returns error 403 Forbidden."
      security:
      - spotify_auth:
        - user-library-modify
    delete:
      tags:
      - category-library
      summary: Remove Albums for Current User
      description: Remove one or more albums from the current user’s ‘Your Music’
        library.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-remove-albums-user
      operationId: endpoint-remove-albums-user
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details. Modification of the current\
          \ user’s “Your Music” collection requires authorization of the user-library-modify\
          \ scope."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "Required if the IDs are passed in the request body, otherwise\
          \ ignored. The content type of the request body: application/json"
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the Spotify IDs. For example: ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M.\
          \ Maximum: 50 IDs."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the Spotify IDs. For example: [\"\
                    4iV5W9uYEdYUVa79Axb7Rh\", \"1301WleyT98MSxVHPZCA6M\"] A maximum\
                    \ of 50 items can be specified in one request. Note: if the ids\
                    \ parameter is present in the query string, any IDs listed here\
                    \ in the body will be ignored."
                  items:
                    type: string
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 Success. On error, the header status code is an error code and the\
            \ response body contains an error object. Trying to remove an album when\
            \ you do not have the user’s authorization returns error 403 Forbidden."
      security:
      - spotify_auth:
        - user-library-modify
  /me/shows:
    get:
      tags:
      - category-library
      summary: Get User's Saved Shows
      description: Get a list of shows saved in the current Spotify user’s library.
        Optional parameters can be used to limit the number of shows returned.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-get-users-saved-shows
      operationId: endpoint-get-users-saved-shows
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details. The access token must have\
          \ been isued on behalf of the user. The user-libary-read scope must have\
          \ been authorised by the user."
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of shows to return. Default: 20. Minimum:\
          \ 1. Maximum: 50"
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: "The index of the first show to return. Default: 0 (the first\
          \ object). Use with limit to get the next set of shows."
        required: false
        schema:
          type: integer
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an array of saved show objects\
            \ (wrapped in a paging object) in JSON format. If the current user has\
            \ no shows saved, the response will be an empty array. If a show is unavailable\
            \ in the given market it is filtered out. The total field in the paging\
            \ object represents the number of all items, filtered or not, and thus\
            \ might be larger than the actual total number of observable items. On\
            \ error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                type: object
                properties:
                  href:
                    type: string
                    description: A link to the Web API endpoint returning the full
                      result of the request
                  items:
                    type: array
                    description: The requested data.
                    items:
                      $ref: '#/components/schemas/SavedShowObject'
                  limit:
                    type: integer
                    description: The maximum number of items in the response (as set
                      in the query or by default).
                    format: int32
                  next:
                    type: string
                    description: URL to the next page of items. ( null if none)
                  offset:
                    type: integer
                    description: The offset of the items returned (as set in the query
                      or by default)
                    format: int32
                  previous:
                    type: string
                    description: URL to the previous page of items. ( null if none)
                  total:
                    type: integer
                    description: The total number of items available to return.
                    format: int32
                externalDocs:
                  description: Find more info on the official Spotify Web API Reference
                  url: https://developer.spotify.com/documentation/web-api/reference-beta/#object-pagingobject
      security:
      - spotify_auth:
        - user-library-read
    put:
      tags:
      - category-library
      summary: Save Shows for Current User
      description: Save one or more shows to current Spotify user’s library.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-save-shows-user
      operationId: endpoint-save-shows-user
      parameters:
      - name: Authorization
        in: header
        description: "A valid access token from the Spotify Accounts service: see\
          \ the Web API Authorization Guide for details. The access token must have\
          \ been issued on behalf of the user. The user-library-modify scope must\
          \ have been authorized by the user."
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: "A comma-separated list of the Spotify IDs. Maximum: 50 IDs."
        required: true
        schema:
          type: string
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
[...]
