openapi: 3.0.3
info:
  title: Spotify Web API
  contact:
    name: sonallux
    url: https://github.com/sonallux/spotify-web-api
  version: 2021.10.17
servers:
- url: https://api.spotify.com/v1
tags:
- name: category-albums
  description: Albums API
- name: category-artists
  description: Artists API
- name: category-browse
  description: Browse API
- name: category-episodes
  description: Episodes API
- name: category-follow
  description: Follow API
- name: category-library
  description: Library API
- name: category-markets
  description: Markets API
- name: category-personalization
  description: Personalization API
- name: category-player
  description: Player API
- name: category-playlists
  description: Playlists API
- name: category-search
  description: Search API
- name: category-shows
  description: Shows API
- name: category-tracks
  description: Tracks API
- name: category-users-profile
  description: Users Profile API
paths:
  /albums/{id}:
    get:
      tags:
      - category-albums
      summary: Get an Album
      description: Get Spotify catalog information for a single album.
      operationId: get-an-album
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ of the album."
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an album object in JSON format.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumObject'
      security:
      - oauth_2_0: []
  /albums/{id}/tracks:
    get:
      tags:
      - category-albums
      summary: Get an Album's Tracks
      description: |-
        Get Spotify catalog information about an album's tracks.
        Optional parameters can be used to limit the number of tracks returned.
      operationId: get-an-albums-tracks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ of the album."
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The maximum number of items to return. Default: 20. Minimum:\
            \ 1. Maximum: 50."
          format: int32
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          description: "The index of the first item to return. Default: 0 (the first\
            \ item). Use with limit to get the next set of items."
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ 200 OK and the response body contains an album object in JSON format.\
            \ On error, the header status code is an error code and the response body\
            \ contains an error object."
          content:
            application/json:
              schema:
                type: object
                properties:
                  href:
                    type: string
                    description: A link to the Web API endpoint returning the full
                      result of the request
                  items:
                    type: array
                    description: The requested content
                    items:
                      $ref: '#/components/schemas/SimplifiedTrackObject'
                  limit:
                    type: integer
                    description: The maximum number of items in the response (as set
                      in the query or by default).
                    format: int32
                  next:
                    type: string
                    description: URL to the next page of items. ( `null` if none)
                  offset:
                    type: integer
                    description: The offset of the items returned (as set in the query
                      or by default)
                    format: int32
                  previous:
                    type: string
                    description: URL to the previous page of items. ( `null` if none)
                  total:
                    type: integer
                    description: The total number of items available to return.
                    format: int32
      security:
      - oauth_2_0: []
  /albums:
    get:
      tags:
      - category-albums
      summary: Get Multiple Albums
      description: Get Spotify catalog information for multiple albums identified
        by their Spotify IDs.
      operationId: get-multiple-albums
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the albums. Maximum: 20 IDs."
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains an object whose key is `"albums"` and whose value is an array of [album objects](https://developer.spotify.com/documentation/web-api/reference/#object-albumobject) in JSON format.

            Objects are returned in the order requested. If an object is not found, a `null` value is returned in the appropriate position. Duplicate `ids` in the query will result in duplicate objects in the response. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsObject'
      security:
      - oauth_2_0: []
  /artists/{id}:
    get:
      tags:
      - category-artists
      summary: Get an Artist
      description: Get Spotify catalog information for a single artist identified
        by their unique Spotify ID.
      operationId: get-an-artist
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ of the artist."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200` OK and the response body contains an [artist object](https://developer.spotify.com/documentation/web-api/reference/#object-artistobject)\
            \ in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistObject'
      security:
      - oauth_2_0: []
  /artists/{id}/albums:
    get:
      tags:
      - category-artists
      summary: Get an Artist's Albums
      description: Get Spotify catalog information about an artist's albums.
      operationId: get-an-artists-albums
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ of the artist."
      - name: include_groups
        in: query
        required: false
        schema:
          type: string
          description: "A comma-separated list of keywords that will be used to filter\
            \ the response. If not supplied, all album types will be returned.   \n\
            Valid values are:  \n- `album`  \n- `single`  \n- `appears_on`  \n- `compilation`\
            \  \nFor example: `include_groups=album,single`."
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The maximum number of items to return. Default: 20. Minimum:\
            \ 1. Maximum: 50."
          format: int32
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          description: "The index of the first item to return. Default: 0 (the first\
            \ item). Use with limit to get the next set of items."
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200` OK and the response body contains an array of simplified [album\
            \ objects](https://developer.spotify.com/documentation/web-api/reference/#object-simplifiedalbumobject)\
            \ (wrapped in a [paging object](https://developer.spotify.com/documentation/web-api/reference/#object-pagingobject))\
            \ in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  href:
                    type: string
                    description: A link to the Web API endpoint returning the full
                      result of the request
                  items:
                    type: array
                    description: The requested content
                    items:
                      $ref: '#/components/schemas/SimplifiedAlbumObject'
                  limit:
                    type: integer
                    description: The maximum number of items in the response (as set
                      in the query or by default).
                    format: int32
                  next:
                    type: string
                    description: URL to the next page of items. ( `null` if none)
                  offset:
                    type: integer
                    description: The offset of the items returned (as set in the query
                      or by default)
                    format: int32
                  previous:
                    type: string
                    description: URL to the previous page of items. ( `null` if none)
                  total:
                    type: integer
                    description: The total number of items available to return.
                    format: int32
      security:
      - oauth_2_0: []
  /artists/{id}/related-artists:
    get:
      tags:
      - category-artists
      summary: Get an Artist's Related Artists
      description: "Get Spotify catalog information about artists similar to a given\
        \ artist. Similarity is based on analysis of the Spotify community's [listening\
        \ history](http://news.spotify.com/se/2010/02/03/related-artists/)."
      operationId: get-an-artists-related-artists
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ of the artist."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200` OK and the response body contains an object whose key is `\"artists\"\
            ` and whose value is an array of up to 20 [artist objects](https://developer.spotify.com/documentation/web-api/reference/#object-artistobject)\
            \ in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistsObject'
      security:
      - oauth_2_0: []
  /artists/{id}/top-tracks:
    get:
      tags:
      - category-artists
      summary: Get an Artist's Top Tracks
      description: Get Spotify catalog information about an artist's top tracks by
        country.
      operationId: get-an-artists-top-tracks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ of the artist."
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200` OK and the response body contains an object whose key is `\"tracks\"\
            ` and whose value is an array of up to 10 [track objects](https://developer.spotify.com/documentation/web-api/reference/#object-trackobject)\
            \ in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksObject'
      security:
      - oauth_2_0: []
  /artists:
    get:
      tags:
      - category-artists
      summary: Get Multiple Artists
      description: Get Spotify catalog information for several artists based on their
        Spotify IDs.
      operationId: get-multiple-artists
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the artists. Maximum: 50 IDs."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains an object whose key is `"artists"` and whose value is an array of [artist objects](https://developer.spotify.com/documentation/web-api/reference/#object-artistobject) in JSON format.

            Objects are returned in the order requested. If an object is not found, a `null` value is returned in the appropriate position. Duplicate `ids` in the query will result in duplicate objects in the response. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistsObject'
      security:
      - oauth_2_0: []
  /browse/categories/{category_id}/playlists:
    get:
      tags:
      - category-browse
      summary: Get a Category's Playlists
      description: Get a list of Spotify playlists tagged with a particular category.
      operationId: get-a-categories-playlists
      parameters:
      - name: category_id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify category ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the category."
      - name: country
        in: query
        required: false
        schema:
          type: string
          description: "A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ Provide this parameter to ensure that the category exists for a particular\
            \ country."
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The maximum number of items to return. Default: 20. Minimum:\
            \ 1. Maximum: 50."
          format: int32
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          description: "The index of the first item to return. Default: 0 (the first\
            \ item). Use with limit to get the next set of items."
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains an array of simplified [playlist objects](https://developer.spotify.com/documentation/web-api/reference/#object-simplifiedplaylistobject) (wrapped in a [paging object](https://developer.spotify.com/documentation/web-api/reference/#object-pagingobject)) in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).

            Once you have retrieved the list, you can use [Get a Playlist](https://developer.spotify.com/web-api/get-playlist/) and [Get a Playlist's Tracks](https://developer.spotify.com/web-api/get-playlists-tracks/) to drill down further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistPagingObject'
      security:
      - oauth_2_0: []
  /browse/categories/{category_id}:
    get:
      tags:
      - category-browse
      summary: Get a Category
      description: "Get a single category used to tag items in Spotify (on, for example,\
        \ the Spotify player's \"Browse\" tab)."
      operationId: get-a-category
      parameters:
      - name: category_id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify category ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the category."
      - name: country
        in: query
        required: false
        schema:
          type: string
          description: "A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ Provide this parameter to ensure that the category exists for a particular\
            \ country."
      - name: locale
        in: query
        required: false
        schema:
          type: string
          description: "The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1)\
            \ language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2),\
            \ joined by an underscore. For example: `es_MX`, meaning \"Spanish (Mexico)\"\
            . Provide this parameter if you want the category strings returned in\
            \ a particular language.  \n***Note** : if `locale` is not supplied, or\
            \ if the specified language is not available, the category strings returned\
            \ will be in the Spotify default language (American English).*"
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains a [category object](#categoryobject) in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).

            Once you have retrieved the category, you can use [Get a Category's Playlists](https://developer.spotify.com/web-api/get-categorys-playlists/) to drill down further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryObject'
      security:
      - oauth_2_0: []
  /browse/categories:
    get:
      tags:
      - category-browse
      summary: Get All Categories
      description: "Get a list of categories used to tag items in Spotify (on, for\
        \ example, the Spotify player's \"Browse\" tab)."
      operationId: get-categories
      parameters:
      - name: country
        in: query
        required: false
        schema:
          type: string
          description: "A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ Provide this parameter if you want to narrow the list of returned categories\
            \ to those relevant to a particular country. If omitted, the returned\
            \ items will be globally relevant."
      - name: locale
        in: query
        required: false
        schema:
          type: string
          description: "The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1)\
            \ language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2),\
            \ joined by an underscore. For example: `es_MX`, meaning \"Spanish (Mexico)\"\
            . Provide this parameter if you want the category metadata returned in\
            \ a particular language.   \n***Note** : if `locale` is not supplied,\
            \ or if the specified language is not available, all strings will be returned\
            \ in the Spotify default language (American English). The `locale` parameter,\
            \ combined with the `country` parameter, may give odd results if not carefully\
            \ matched. For example `country=SE&locale=de_DE` will return a list of\
            \ categories relevant to Sweden but as German language strings.*"
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The maximum number of items to return. Default: 20. Minimum:\
            \ 1. Maximum: 50."
          format: int32
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          description: "The index of the first item to return. Default: 0 (the first\
            \ item). Use with limit to get the next set of items."
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains an object with a `categories` field, with an array of [category objects](#categoryobject) (wrapped in a [paging object](https://developer.spotify.com/documentation/web-api/reference/#object-pagingobject)) in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).

            Once you have retrieved the list, you can use [Get a Category](https://developer.spotify.com/web-api/get-category/) to drill down further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesObject'
      security:
      - oauth_2_0: []
  /browse/featured-playlists:
    get:
      tags:
      - category-browse
      summary: Get All Featured Playlists
      description: "Get a list of Spotify featured playlists (shown, for example,\
        \ on a Spotify player's 'Browse' tab)."
      operationId: get-featured-playlists
      parameters:
      - name: country
        in: query
        required: false
        schema:
          type: string
          description: "A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ Provide this parameter if you want the list of returned items to be\
            \ relevant to a particular country. If omitted, the returned items will\
            \ be relevant to all countries."
      - name: locale
        in: query
        required: false
        schema:
          type: string
          description: "The desired language, consisting of a lowercase [ISO 639-1\
            \ language code](http://en.wikipedia.org/wiki/ISO_639-1) and an uppercase\
            \ [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2),\
            \ joined by an underscore. For example: `es_MX`, meaning \"Spanish (Mexico)\"\
            . Provide this parameter if you want the results returned in a particular\
            \ language (where available).   \n***Note** : if `locale` is not supplied,\
            \ or if the specified language is not available, all strings will be returned\
            \ in the Spotify default language (American English). The `locale` parameter,\
            \ combined with the `country` parameter, may give odd results if not carefully\
            \ matched. For example `country=SE&locale=de_DE` will return a list of\
            \ categories relevant to Sweden but as German language strings.*"
      - name: timestamp
        in: query
        required: false
        schema:
          type: string
          description: "A timestamp in [ISO 8601 format](http://en.wikipedia.org/wiki/ISO_8601):\
            \ `yyyy-MM-ddTHH:mm:ss`. Use this parameter to specify the user's local\
            \ time to get results tailored for that specific date and time in the\
            \ day. If not provided, the response defaults to the current UTC time.\
            \ Example: \"2014-10-23T09:00:00\" for a user whose local time is 9AM.\
            \ If there were no featured playlists (or there is no data) at the specified\
            \ time, the response will revert to the current UTC time."
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The maximum number of items to return. Default: 20. Minimum:\
            \ 1. Maximum: 50."
          format: int32
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          description: "The index of the first item to return. Default: 0 (the first\
            \ item). Use with limit to get the next set of items."
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains a `message` and a `playlists` object. The `playlists` object contains an array of simplified [playlist objects](https://developer.spotify.com/documentation/web-api/reference/#object-simplifiedplaylistobject) (wrapped in a [paging object](https://developer.spotify.com/documentation/web-api/reference/#object-pagingobject)) in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).

            Once you have retrieved the list of playlist objects, you can use [Get a Playlist](https://developer.spotify.com/web-api/get-playlist/) and [Get a Playlist's Tracks](https://developer.spotify.com/web-api/get-playlists-tracks/) to drill down further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturedPlaylistObject'
      security:
      - oauth_2_0: []
  /browse/new-releases:
    get:
      tags:
      - category-browse
      summary: Get All New Releases
      description: "Get a list of new album releases featured in Spotify (shown, for\
        \ example, on a Spotify player's \"Browse\" tab)."
      operationId: get-new-releases
      parameters:
      - name: country
        in: query
        required: false
        schema:
          type: string
          description: "A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ Provide this parameter if you want the list of returned items to be\
            \ relevant to a particular country. If omitted, the returned items will\
            \ be relevant to all countries."
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The maximum number of items to return. Default: 20. Minimum:\
            \ 1. Maximum: 50."
          format: int32
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          description: "The index of the first item to return. Default: 0 (the first\
            \ item). Use with limit to get the next set of items."
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains a `message` and an`albums` object. The `albums` object contains an array of simplified [album objects](https://developer.spotify.com/documentation/web-api/reference/#object-simplifiedalbumobject) (wrapped in a [paging object](https://developer.spotify.com/documentation/web-api/reference/#object-pagingobject)) in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).

            Once you have retrieved the list, you can use [Get an Album's Tracks](https://developer.spotify.com/documentation/web-api/reference/#endpoint-get-an-albums-tracks) to drill down further.

            The results are returned in an order reflected within the Spotify clients, and therefore may not be ordered by date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewReleasesObject'
      security:
      - oauth_2_0: []
  /recommendations/available-genre-seeds:
    get:
      tags:
      - category-browse
      summary: Get Recommendation Genres
      description: "Retrieve a list of available genres seed parameter values for\
        \ [recommendations](https://developer.spotify.com/documentation/web-api/reference/#endpoint-get-recommendations)."
      operationId: get-recommendation-genres
      parameters: []
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200 OK` and the response body contains a recommendations response object\
            \ in JSON format."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreSeedsObject'
      security:
      - oauth_2_0: []
  /recommendations:
    get:
      tags:
      - category-browse
      summary: Get Recommendations
      description: "Recommendations are generated based on the available information\
        \ for a given seed entity and matched against similar artists and tracks.\
        \ If there is sufficient information about the provided seeds, a list of tracks\
        \ will be returned together with pool size details."
      operationId: get-recommendations
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The target size of the list of recommended tracks. For seeds\
            \ with unusually small pools or when highly restrictive filtering is applied,\
            \ it may be impossible to generate the requested number of recommended\
            \ tracks. Debugging information for such cases is available in the response.\
            \ Default: 20. Minimum: 1. Maximum: 100."
          format: int32
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      - name: seed_artists
        in: query
        required: true
        schema:
          type: string
          description: "A comma separated list of [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for seed artists. Up to 5 seed values may be provided in any combination\
            \ of `seed_artists`, `seed_tracks` and `seed_genres`."
      - name: seed_genres
        in: query
        required: true
        schema:
          type: string
          description: "A comma separated list of any genres in the set of [available\
            \ genre seeds](#available-genre-seeds). Up to 5 seed values may be provided\
            \ in any combination of `seed_artists`, `seed_tracks` and `seed_genres`."
      - name: seed_tracks
        in: query
        required: true
        schema:
          type: string
          description: "A comma separated list of [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for a seed track. Up to 5 seed values may be provided in any combination\
            \ of `seed_artists`, `seed_tracks` and `seed_genres`."
      - name: min_acousticness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
      - name: max_acousticness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
      - name: target_acousticness
        in: query
        required: false
        schema:
          type: number
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
      - name: min_danceability
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
      - name: max_danceability
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
      - name: target_danceability
        in: query
        required: false
        schema:
          type: number
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
      - name: min_duration_ms
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
          format: int32
      - name: max_duration_ms
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
          format: int32
      - name: target_duration_ms
        in: query
        required: false
        schema:
          type: integer
          description: Target duration of the track (ms)
          format: int32
      - name: min_energy
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
      - name: max_energy
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
      - name: target_energy
        in: query
        required: false
        schema:
          type: number
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
      - name: min_instrumentalness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
      - name: max_instrumentalness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
      - name: target_instrumentalness
        in: query
        required: false
        schema:
          type: number
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
      - name: min_key
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
          format: int32
      - name: max_key
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
          format: int32
      - name: target_key
        in: query
        required: false
        schema:
          type: integer
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
          format: int32
      - name: min_liveness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
      - name: max_liveness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
      - name: target_liveness
        in: query
        required: false
        schema:
          type: number
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
      - name: min_loudness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
      - name: max_loudness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
      - name: target_loudness
        in: query
        required: false
        schema:
          type: number
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
      - name: min_mode
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
          format: int32
      - name: max_mode
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
          format: int32
      - name: target_mode
        in: query
        required: false
        schema:
          type: integer
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
          format: int32
      - name: min_popularity
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
          format: int32
      - name: max_popularity
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
          format: int32
      - name: target_popularity
        in: query
        required: false
        schema:
          type: integer
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
          format: int32
      - name: min_speechiness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
      - name: max_speechiness
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
      - name: target_speechiness
        in: query
        required: false
        schema:
          type: number
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
      - name: min_tempo
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
      - name: max_tempo
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
      - name: target_tempo
        in: query
        required: false
        schema:
          type: number
          description: Target tempo (BPM)
      - name: min_time_signature
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
          format: int32
      - name: max_time_signature
        in: query
        required: false
        schema:
          type: integer
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
          format: int32
      - name: target_time_signature
        in: query
        required: false
        schema:
          type: integer
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
          format: int32
      - name: min_valence
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard floor on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `min_tempo=140`\
            \ would restrict results to only those tracks with a tempo of greater\
            \ than 140 beats per minute."
      - name: max_valence
        in: query
        required: false
        schema:
          type: number
          description: "For each tunable track attribute, a hard ceiling on the selected\
            \ track attribute's value can be provided. See tunable track attributes\
            \ below for the list of available options. For example, `max_instrumentalness=0.35`\
            \ would filter out most tracks that are likely to be instrumental."
      - name: target_valence
        in: query
        required: false
        schema:
          type: number
          description: "For each of the tunable track attributes (below) a target\
            \ value may be provided. Tracks with the attribute values nearest to the\
            \ target values will be preferred. For example, you might request `target_energy=0.6`\
            \ and `target_danceability=0.8`. All target values will be weighed equally\
            \ in ranking results."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200 OK` and the response body contains a recommendations response object\
            \ in JSON format."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationsObject'
      security:
      - oauth_2_0: []
  /episodes/{id}:
    get:
      tags:
      - category-episodes
      summary: Get an Episode
      description: |-
        Get Spotify catalog information for a single episode identified by its
        unique Spotify ID.
      operationId: get-an-episode
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the episode."
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200`\nOK and the response body contains an [episode object](https://developer.spotify.com/documentation/web-api/reference/#object-episodeobject)\n\
            in JSON format.  \n\nOn error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\n\
            and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).\
            \  \n\nIf an episode is unavailable in the given `market` the HTTP status\
            \ code in the response header is `404` NOT FOUND."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeObject'
      security:
      - oauth_2_0:
        - user-read-playback-position
  /episodes:
    get:
      tags:
      - category-episodes
      summary: Get Multiple Episodes
      description: Get Spotify catalog information for several episodes based on their
        Spotify IDs.
      operationId: get-multiple-episodes
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the episodes. Maximum: 50 IDs."
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200`
            OK and the response body contains an object whose key is `episodes` and whose
            value is an array of [episode objects](https://developer.spotify.com/documentation/web-api/reference/#object-episodeobject)
            in JSON format.

            Objects are returned in the order requested. If an object is not found, a `null` value is returned in the appropriate position.
            Duplicate `ids` in the query will result in duplicate objects in the response. If an episode is unavailable in the given `market`, a `null` value is returned.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodesObject'
      security:
      - oauth_2_0:
        - user-read-playback-position
  /me/following/contains:
    get:
      tags:
      - category-follow
      summary: Get Following State for Artists/Users
      description: Check to see if the current user is following one or more artists
        or other Spotify users.
      operationId: check-current-user-follows
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
          description: "The ID type: either `artist` or `user`."
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the artist or the user [Spotify\
            \ IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ to check. For example: `ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q`.\
            \ A maximum of 50 IDs can be sent in one request."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains a JSON array of `true` or `false` values, in the same order in which the `ids` were specified.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - oauth_2_0:
        - user-follow-read
  /playlists/{playlist_id}/followers/contains:
    get:
      tags:
      - category-follow
      summary: Check if Users Follow a Playlist
      description: Check to see if one or more Spotify users are following a specified
        playlist.
      operationId: check-if-user-follows-playlist
      parameters:
      - name: playlist_id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ of the playlist."
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of [Spotify User IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ ; the ids of the users that you want to check to see if they follow\
            \ the playlist. Maximum: 5 ids."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains a JSON array of `true` or `false` values, in the same order in which the `ids` were specified.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - oauth_2_0:
        - playlist-read-private
  /me/following:
    get:
      tags:
      - category-follow
      summary: Get User's Followed Artists
      description: Get the current user's followed artists.
      operationId: get-followed
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
          description: "The ID type: currently only `artist` is supported."
      - name: after
        in: query
        required: false
        schema:
          type: string
          description: The last artist ID retrieved from the previous request.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The maximum number of items to return. Default: 20. Minimum:\
            \ 1. Maximum: 50."
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains an `artists` object.
            The `artists` object in turn contains a [cursor-based paging object](https://developer.spotify.com/documentation/web-api/reference/#object-cursorpagingobject) of [Artists](https://developer.spotify.com/documentation/web-api/reference/#object-artistobject).
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowingArtistsObject'
      security:
      - oauth_2_0:
        - user-follow-read
    put:
      tags:
      - category-follow
      summary: Follow Artists or Users
      description: Add the current user as a follower of one or more artists or other
        Spotify users.
      operationId: follow-artists-users
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
          description: The ID type.
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the artist or the user [Spotify\
            \ IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
            \ A maximum of 50 IDs can be sent in one request."
      requestBody:
        content:
          application/json:
            schema:
              required:
              - ids
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the artist or user [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
                    \ For example: `{ids:[\"74ASZWbe4lXaubB36ztrGX\", \"08td7MxkoHQkXnWAYD8d6Q\"\
                    ]}`. A maximum of 50 IDs can be sent in one request. ***Note**\
                    \ : if the `ids` parameter is present in the query string, any\
                    \ IDs listed here in the body will be ignored.*"
                  items:
                    type: string
        required: true
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "204":
          description: |-
            On success, the HTTP status code in the response header is `204` No Content and the response body is empty.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
      security:
      - oauth_2_0:
        - user-follow-modify
    delete:
      tags:
      - category-follow
      summary: Unfollow Artists or Users
      description: Remove the current user as a follower of one or more artists or
        other Spotify users.
      operationId: unfollow-artists-users
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
          description: "The ID type: either `artist` or `user`."
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the artist or the user [Spotify\
            \ IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
            \ For example: `ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q`. A\
            \ maximum of 50 IDs can be sent in one request."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the artist or user [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
                    \ For example: `{ids:[\"74ASZWbe4lXaubB36ztrGX\", \"08td7MxkoHQkXnWAYD8d6Q\"\
                    ]}`. A maximum of 50 IDs can be sent in one request. ***Note**\
                    \ : if the `ids` parameter is present in the query string, any\
                    \ IDs listed here in the body will be ignored.*"
                  items:
                    type: string
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "204":
          description: |-
            On success, the HTTP status code in the response header is `204` No Content and the response body is empty.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
      security:
      - oauth_2_0:
        - user-follow-modify
  /playlists/{playlist_id}/followers:
    put:
      tags:
      - category-follow
      summary: Follow a Playlist
      description: Add the current user as a follower of a playlist.
      operationId: follow-playlist
      parameters:
      - name: playlist_id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ of the playlist."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                public:
                  type: boolean
                  description: "Defaults to `true`. If `true` the playlist will be\
                    \ included in user's public playlists, if `false` it will remain\
                    \ private."
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body is empty.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
      security:
      - oauth_2_0:
        - playlist-modify-private
        - playlist-modify-public
    delete:
      tags:
      - category-follow
      summary: Unfollow Playlist
      description: Remove the current user as a follower of a playlist.
      operationId: unfollow-playlist
      parameters:
      - name: playlist_id
        in: path
        required: true
        schema:
          type: string
          description: "The [Spotify ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ of the playlist."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body is empty.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
      security:
      - oauth_2_0:
        - playlist-modify-private
        - playlist-modify-public
  /me/albums/contains:
    get:
      tags:
      - category-library
      summary: Check User's Saved Albums
      description: Check if one or more albums is already saved in the current Spotify
        user's 'Your Music' library.
      operationId: check-users-saved-albums
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the albums. Maximum: 20 IDs."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains a JSON array of `true` or `false` values, in the same order in which the `ids` were specified.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - oauth_2_0:
        - user-library-read
  /me/episodes/contains:
    get:
      tags:
      - category-library
      summary: Check User's Saved Episodes
      description: "Check if one or more episodes is already saved in the current\
        \ Spotify user's 'Your Episodes' library.  \n\nThis API endpoint is in **beta**\
        \ and could change without warning. Please share any feedback that you have,\
        \ or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).."
      operationId: check-users-saved-episodes
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the episodes. Maximum: 50 IDs."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains a JSON array of `true` or `false` values, in the same order in which the `ids` were specified.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - oauth_2_0:
        - user-library-read
  /me/shows/contains:
    get:
      tags:
      - category-library
      summary: Check User's Saved Shows
      description: Check if one or more shows is already saved in the current Spotify
        user's library.
      operationId: check-users-saved-shows
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the shows. Maximum: 50 IDs."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200` OK and the response body contains a JSON array of `true`or `false`\
            \ values, in the same order in which the `ids` were specified. On error,\
            \ the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#error-details)."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - oauth_2_0:
        - user-library-read
  /me/tracks/contains:
    get:
      tags:
      - category-library
      summary: Check User's Saved Tracks
      description: Check if one or more tracks is already saved in the current Spotify
        user's 'Your Music' library.
      operationId: check-users-saved-tracks
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
            \ For example: `ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M`. Maximum:\
            \ 50 IDs."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains a JSON array of `true` or `false` values, in the same order in which the `ids` were specified.
            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
      security:
      - oauth_2_0:
        - user-library-read
  /me/albums:
    get:
      tags:
      - category-library
      summary: Get User's Saved Albums
      description: Get a list of the albums saved in the current Spotify user's 'Your
        Music' library.
      operationId: get-users-saved-albums
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The maximum number of items to return. Default: 20. Minimum:\
            \ 1. Maximum: 50."
          format: int32
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          description: "The index of the first item to return. Default: 0 (the first\
            \ item). Use with limit to get the next set of items."
          format: int32
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: |-
            On success, the HTTP status code in the response header is `200` OK and the response body contains an array of [saved album objects](https://developer.spotify.com/documentation/web-api/reference/#object-savedalbumobject) (wrapped in a [paging object](https://developer.spotify.com/documentation/web-api/reference/#object-pagingobject)) in JSON format. Each album object is accompanied by a [timestamp](https://developer.spotify.com/documentation/web-api/#timestamps) (`added_at`) to show when it was added. There is also an **etag** in the header that can be used in future [conditional requests](https://developer.spotify.com/documentation/web-api/#conditional-requests).

            On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
          content:
            application/json:
              schema:
                type: object
                properties:
                  href:
                    type: string
                    description: A link to the Web API endpoint returning the full
                      result of the request
                  items:
                    type: array
                    description: The requested content
                    items:
                      $ref: '#/components/schemas/SavedAlbumObject'
                  limit:
                    type: integer
                    description: The maximum number of items in the response (as set
                      in the query or by default).
                    format: int32
                  next:
                    type: string
                    description: URL to the next page of items. ( `null` if none)
                  offset:
                    type: integer
                    description: The offset of the items returned (as set in the query
                      or by default)
                    format: int32
                  previous:
                    type: string
                    description: URL to the previous page of items. ( `null` if none)
                  total:
                    type: integer
                    description: The total number of items available to return.
                    format: int32
      security:
      - oauth_2_0:
        - user-library-read
    put:
      tags:
      - category-library
      summary: Save Albums for Current User
      description: Save one or more albums to the current user's 'Your Music' library.
      operationId: save-albums-user
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the albums. Maximum: 20 IDs."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
                    \ For example: `[\"4iV5W9uYEdYUVa79Axb7Rh\", \"1301WleyT98MSxVHPZCA6M\"\
                    ]`  \nA maximum of 50 items can be specified in one request. ***Note**\
                    \ : if the `ids` parameter is present in the query string, any\
                    \ IDs listed here in the body will be ignored.*"
                  items:
                    type: string
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "201":
          description: "On success, the HTTP status code in the response header is\
            \ `201` Created. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).\
            \ Trying to add an album when you do not have the user's authorization\
            \ returns error `403` Forbidden."
      security:
      - oauth_2_0:
        - user-library-modify
    delete:
      tags:
      - category-library
      summary: Remove Albums for Current User
      description: Remove one or more albums from the current user's 'Your Music'
        library.
      operationId: remove-albums-user
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)\
            \ for the albums. Maximum: 20 IDs."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
                    \ For example: `[\"4iV5W9uYEdYUVa79Axb7Rh\", \"1301WleyT98MSxVHPZCA6M\"\
                    ]`  \nA maximum of 50 items can be specified in one request. ***Note**\
                    \ : if the `ids` parameter is present in the query string, any\
                    \ IDs listed here in the body will be ignored.*"
                  items:
                    type: string
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200` Success. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).\
            \ Trying to remove an album when you do not have the user's authorization\
            \ returns error `403` Forbidden."
      security:
      - oauth_2_0:
        - user-library-modify
  /me/episodes:
    get:
      tags:
      - category-library
      summary: Get User's Saved Episodes
      description: "Get a list of the episodes saved in the current Spotify user's\
        \ library.  \n\nThis API endpoint is in **beta** and could change without\
        \ warning. Please share any feedback that you have, or issues that you discover,\
        \ in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer)."
      operationId: get-users-saved-episodes
      parameters:
      - name: market
        in: query
        required: false
        schema:
          type: string
          description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
            \ If a country code is specified, only episodes that are available in\
            \ that market will be returned.  \nIf a valid user access token is specified\
            \ in the request header, the country associated with the user account\
            \ will take priority over this parameter.  \n***Note**: If neither market\
            \ or user country are provided, the content is considered unavailable\
            \ for the client.*   \nUsers can view the country that is associated with\
            \ their account in the [account settings](https://www.spotify.com/se/account/overview/)."
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: "The maximum number of items to return. Default: 20. Minimum:\
            \ 1. Maximum: 50."
          format: int32
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          description: "The index of the first item to return. Default: 0 (the first\
            \ item). Use with limit to get the next set of items."
          format: int32
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "- On success, the HTTP status code in the response header\
            \ is `200` OK and the response body contains an array of [saved episode\
            \ objects](https://developer.spotify.com/documentation/web-api/reference/#object-savedepisodeobject)\
            \ (wrapped in a [paging object](https://developer.spotify.com/documentation/web-api/reference/#object-pagingobject))\
            \ in JSON format. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  href:
                    type: string
                    description: A link to the Web API endpoint returning the full
                      result of the request
                  items:
                    type: array
                    description: The requested content
                    items:
                      $ref: '#/components/schemas/SavedEpisodeObject'
                  limit:
                    type: integer
                    description: The maximum number of items in the response (as set
                      in the query or by default).
                    format: int32
                  next:
                    type: string
                    description: URL to the next page of items. ( `null` if none)
                  offset:
                    type: integer
                    description: The offset of the items returned (as set in the query
                      or by default)
                    format: int32
                  previous:
                    type: string
                    description: URL to the previous page of items. ( `null` if none)
                  total:
                    type: integer
                    description: The total number of items available to return.
                    format: int32
      security:
      - oauth_2_0:
        - user-library-read
    put:
      tags:
      - category-library
      summary: Save Episodes for User
      description: "Save one or more episodes to the current user's library.  \n\n\
        This API endpoint is in **beta** and could change without warning. Please\
        \ share any feedback that you have, or issues that you discover, in our [developer\
        \ community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer)."
      operationId: save-episodes-user
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
            \ Maximum: 50 IDs."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
                    \   \nA maximum of 50 items can be specified in one request. ***Note**\
                    \ : if the `ids` parameter is present in the query string, any\
                    \ IDs listed here in the body will be ignored.*"
                  items:
                    type: string
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200` OK. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).\
            \ Trying to add an episode when you do not have the user's authorization,\
            \ returns error `403` Forbidden."
      security:
      - oauth_2_0:
        - user-library-modify
    delete:
      tags:
      - category-library
      summary: Remove User's Saved Episodes
      description: "Remove one or more episodes from the current user's library. \
        \ \n\nThis API endpoint is in **beta** and could change without warning. Please\
        \ share any feedback that you have, or issues that you discover, in our [developer\
        \ community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer)."
      operationId: remove-episodes-user
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
          description: "A comma-separated list of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
            \ For example: `ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M`. Maximum:\
            \ 50 IDs."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: "A JSON array of the [Spotify IDs](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids).\
                    \   \nA maximum of 50 items can be specified in one request. ***Note**\
                    \ : if the `ids` parameter is present in the query string, any\
                    \ IDs listed here in the body will be ignored.*"
                  items:
                    type: string
        required: false
      responses:
        default:
          $ref: '#/components/responses/ErrorResponse'
        "200":
          description: "On success, the HTTP status code in the response header is\
            \ `200` Success. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes)\
            \ and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).\
            \ Trying to remove an episode when you do not have the user's authorization\
            \ returns error `403` Forbidden."
      security:
      - oauth_2_0:
        - user-library-modify
  /me/shows:
    get:
      tags:
      - category-library
      summary: Get User's Saved Shows
[...]
