{{#objects}}
{{#documentationLink}}
/**
 * {{documentationLink}}
 */
{{/documentationLink}}
export interface {{name}}{{#parentType}} extends {{parentType}}{{/parentType}} {
{{#properties}}
    {{#hasDescription}}
    /**
    {{#description}}
     * {{.}}
    {{/description}}
     */
    {{/hasDescription}}
    {{fieldName}}: {{type}};
{{/properties}}
}

{{/objects}}
