package {{package}};

import de.sonallux.spotify.api.http.ApiClient;
import {{requestsPackage}}.*;
import lombok.RequiredArgsConstructor;

/**
 * <a href="{{documentationLink}}">{{name}}</a>
 */
@RequiredArgsConstructor
public class {{className}} {
    private final ApiClient apiClient;
{{#endpoints}}

    /**
     * <h3>{{name}}</h3>
     * {{description}}
    {{#javaDocParameters}}
     * {{.}}
    {{/javaDocParameters}}
     * @return a {@link {{requestBuilder}}} object to build and execute the request
     */
    public {{requestBuilder}} {{methodName}}({{requiredParameters}}) {
        return new {{requestBuilder}}({{arguments}});
    }
{{/endpoints}}
}
