package {{package}};

import {{modelsPackage}}.*;
import retrofit2.Call;
import retrofit2.http.*;

/**
 * <a href="{{documentationLink}}">{{name}}</a>
 */
public interface {{className}} {
{{#endpoints}}
{{#requiredParametersMethod}}

    /**
     * <h3>{{name}}</h3>
     * {{description}}
    {{#scopes}}
     * <h3>Required OAuth scopes</h3>
     * <code>{{scopes}}</code>
    {{/scopes}}
     *
    {{#hasNotes}}
     * <h3>Notes</h3>
    {{#notes}}
     * {{.}}
    {{/notes}}
     *
    {{/hasNotes}}
    {{#requiredJavaDocParameters}}
     * {{.}}
    {{/requiredJavaDocParameters}}
     * @return {{responseDescriptionFirstLine}}
    {{#responseDescriptionOthers}}
     *         {{.}}
    {{/responseDescriptionOthers}}
     * @see <a href="{{documentationLink}}">{{name}}</a>
     */
    default Call<{{responseType}}> {{methodName}}({{requiredParameters}}) {
        return {{methodName}}({{arguments}});
    }
{{/requiredParametersMethod}}

    /**
     * <h3>{{name}}</h3>
     * {{description}}
    {{#scopes}}
     * <h3>Required OAuth scopes</h3>
     * <code>{{scopes}}</code>
    {{/scopes}}
     *
    {{#hasNotes}}
     * <h3>Notes</h3>
    {{#notes}}
     * {{.}}
    {{/notes}}
     *
    {{/hasNotes}}
    {{#javaDocParameters}}
     * {{.}}
    {{/javaDocParameters}}
     * @return {{responseDescriptionFirstLine}}
    {{#responseDescriptionOthers}}
     *         {{.}}
    {{/responseDescriptionOthers}}
     * @see <a href="{{documentationLink}}">{{name}}</a>
     */
    {{#deleteWithBody}}
    @HTTP(method = "DELETE", hasBody = true, path = "{{path}}")
    {{/deleteWithBody}}
    {{^deleteWithBody}}
    @{{httpMethod}}("{{path}}")
    {{/deleteWithBody}}
    Call<{{responseType}}> {{methodName}}({{parameters}});
{{/endpoints}}
}
