package {{package}};

import lombok.*;

{{#documentationLink}}
/**
 * <a href="{{documentationLink}}">{{name}}</a>
 */
{{/documentationLink}}
@Getter
@Setter
@NoArgsConstructor
public class {{className}}{{#superClass}} extends {{superClass}}{{/superClass}} {
{{#properties}}
    {{#hasDescription}}
    /**
    {{#description}}
     * {{.}}
    {{/description}}
     */
    {{/hasDescription}}
    {{#nonNull}}
    @NonNull
    {{/nonNull}}
    {{#jsonName}}
    @com.fasterxml.jackson.annotation.JsonProperty("{{jsonName}}")
    {{/jsonName}}
    {{#isReservedKeywordProperty}}
    @lombok.experimental.Accessors(prefix = "_")
    {{/isReservedKeywordProperty}}
    private {{type}} {{fieldName}};
{{/properties}}
}
