package {{package}};

{{#extendsBaseObject}}
import com.fasterxml.jackson.annotation.JsonTypeInfo;
{{/extendsBaseObject}}
import lombok.*;

{{#documentationLink}}
/**
 * <a href="{{documentationLink}}">{{name}}</a>
 */
{{/documentationLink}}
@Getter
@Setter
@NoArgsConstructor
{{#extendsBaseObject}}
@JsonTypeInfo(use = JsonTypeInfo.Id.NONE) // Disable deserialization based on @JsonTypeInfo
{{/extendsBaseObject}}
public class {{className}}{{#superClass}} extends {{superClass}}{{/superClass}} {
{{#properties}}
    {{#hasDescription}}
    /**
    {{#description}}
     * {{.}}
    {{/description}}
     */
    {{/hasDescription}}
    {{#nonNull}}
    @NonNull
    {{/nonNull}}
    {{#isReservedKeywordProperty}}
    @lombok.experimental.Accessors(prefix = "_")
    {{/isReservedKeywordProperty}}
    public {{type}} {{fieldName}};
{{/properties}}
}
