package {{package}};

import lombok.*;

/**
 * Request body for endpoint {{#endpointLink}}<a href="{{endpointLink}}">{{endpointName}}</a>{{/endpointLink}}{{^endpointLink}}{{endpointName}}{{/endpointLink}}
 */
@Getter
@Setter
{{#hasNonRequiredProperty}}
@RequiredArgsConstructor
{{/hasNonRequiredProperty}}
@AllArgsConstructor
public class {{className}} {
{{#properties}}
    {{#hasDescription}}
    /**
    {{#description}}
     * {{.}}
    {{/description}}
     */
    {{/hasDescription}}
    {{#required}}
    @NonNull
    {{/required}}
    {{#jsonName}}
    @com.fasterxml.jackson.annotation.JsonProperty("{{jsonName}}")
    @lombok.experimental.Accessors(prefix = "_")
    {{/jsonName}}
    private{{#required}} final{{/required}} {{type}} {{fieldName}};
{{/properties}}
}
