package {{package}};

/**
 * <a href="{{url}}">Authorization Scopes</a>
 */
public enum Scope {
{{#scopes}}
    /**
     * {{description}}
     * @see <a href="{{link}}">{{name}}</a>
     */
    {{enumName}}("{{name}}"){{#last}};{{/last}}{{^last}},{{/last}}
{{/scopes}}

    private final String scopeName;

    Scope(String scopeName) {
        this.scopeName = scopeName;
    }

    public String getName() {
        return scopeName;
    }
}
