package {{package}};

import de.sonallux.spotify.api.apis.*;
import de.sonallux.spotify.api.http.ApiClient;
import lombok.Getter;
import okhttp3.HttpUrl;

@Getter
public class SpotifyWebApi  {
    public static final HttpUrl SPOTIFY_WEB_API_ENDPOINT = HttpUrl.get("{{endpointUrl}}");

{{#apis}}
    private final {{className}} {{fieldName}};
{{/apis}}

    SpotifyWebApi(ApiClient apiClient) {
{{#apis}}
        this.{{fieldName}} = new {{className}}(apiClient);
{{/apis}}
    }

    public static SpotifyWebApiBuilder builder() {
        return new SpotifyWebApiBuilder();
    }
}
