name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17', '20' ]
    name: Build on Java ${{ matrix.java }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Setup cache
        uses: actions/cache@v3
        with:
          path: ~/.m2/build-cache
          key: maven-build-cache-${{ runner.os }}-java-${{ matrix.java }}-${{ hashFiles('**/pom.xml') }}
      - name: Build
        run: ./mvnw -B package -Pcli --projects spotify-web-api-open-api --also-make
      - name: Patch Open API
        run: ./scripts/patch-open-api.sh
      - name: Check for generator results
        run: |
          git status --porcelain
          git diff --exit-code
