name: Publish

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # We want all history so we can get all commits since previous git tag
      - name: Create release notes
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          previousTag=$(git describe --tags --abbrev=0 $(git rev-list --tags --skip=1 --max-count=1))
          currentTag=$(git describe --tags --abbrev=0)
          echo "Creating release notes for $previousTag...$currentTag"
          echo "# What's Changed" > release-notes.md
          git log "$previousTag...$currentTag" --format="- %s ([%h](https://github.com/sonallux/spotify-web-api/commit/%H))" >> release-notes.md
          cat release-notes.md
      - name: Create release on GitHub
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body_path: release-notes.md
          files: |
            official-spotify-open-api.yml
            fixed-spotify-open-api.yml
